@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
  --primary: #7dc7de;
  --secondary: #48dafe;
  --color1: #057fb5;
  --dark: #212121;
  --light: #F3F3F3;
  --texto: #333;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--color1);
    font-family: 'Poppins';
}

#header{
    margin-bottom: 20px;
}

img{
    width: 50%;
    margin-top: 10px;
}

/*Primeira página do cardápio*/

 .pag1{
    border-radius: 5px;
    margin: 0 15px 0 0;
    color: var(--texto);
} 

.top-cardapio{
    text-align: center;
    margin: 30px 0 30px 0;
}

.main-cardapio{
    text-align: center;
}

.sociais{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}

.sociais li {
    list-style: none;
}

.sociais li img{
    width: 15px;
}

/*Segunda página do cardápio*/

.pag2{
    border-radius: 5px;
    width: 50%;
    background-color: var(--secondary);
    color: var(--texto);
}

.img-menu{
    display: flex;
    justify-content: center;
    margin: 30px 0 20px 0;
}

.pratos{
    display: flex;
    justify-content: space-around;
}

 .espaco-itens{
    list-style: square;
    margin-top: 30px;
} 

.hide{
    display: none;
    font-size: 11px;
}

li span {
    font-size: 15px;
}
.hover{
    background-color: #122836;
    color: var(--light);
    list-style: none;
    border-radius: 5px;
    width: 390px;
    padding: 5px;
    font-size: 20px;
    transition: 1.0s
}

.hover-sociais{
  font-size: 25px;
  color: #122836;
}


.titulo{
    background-color: var(--color1);
    color: var(--light);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.bebidas{
    display: flex;
    height: 30vh;
    justify-content: space-around;
}
/*--------------PRIMEIRO CARD---------------*/

.card{
  margin: 5px auto 10px auto;
  width: 800px;
  height: 850px;
  perspective: 1000px;
}

.card-interno {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
 
.card-interno.flip {
  transform: rotateY(180deg);
}


.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card_face-front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
}

/*--------------SEGUNDO CARD---------------*/
.card_face-back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card_header {
  position: relative;
  padding: 30px 30px 40px;
}

.card_header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.img-menu {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  object-fit: cover;
}

.card_header h2 {
  color: #333;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

