.side-menu{
    color:#fff;
    height: 600px;
    width: 400px;
    background-color: #007991;
    border-radius: 20px;

}
p{
    font-family: "Poppins" ,sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

.titulo{
    color:red;
}

.icon-home{
    height: 100px;
    width: 100px;
}

.container{
    height: 600px;
    width: 1200px;
    background-color: #057fb5;;
    display:flex;
    justify-content: center;
    align-items: center;
}

.landing-img{
    height: 600px;
    width: 800px;

}

.landing-img img{
    height: 450px;
    width: 700px;
    margin-top: 60px;
    margin-left: 50px;
}

.side-menu-img{
width: 400px;
display:flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 50px;


}

.side-menu-content{
width: 400px;
margin: 50px;
}

body{
    background-color: #057fb5;
}

a:hover{
    transition: 1.5s;
    border-bottom: 3px solid #fff;
}

@media (min-width:100px) and (max-width: 900px){
    .conteiner{
        display: block;
    }
}